body {
  width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  corlor: #fff;
}
div.title {
  background-color: #e3efdf;
  margin: center;
  text-align: center;
  width: 800px;
  height: 80px;
}
div.sideleft {
  background-color: #9df679;
  width: 300px;
  height: 400px;
  float: left;
}
div.stream {
  background-color: #d9ebe7;
  width: 500px;
  height: 400px;
  float: right;
}
div.Intruction {
  float: right;
  background-color: #55f5d1;
  width: 270px;
  height: 150px;
  overflow-y: scroll;
}
div.UI {
  float: right;
  background-color: #cae125;
  width: 270px;
  height: 150px;
  overflow-y: scroll;
}
